Node-Red/Dashboard.json
[
    {
        "id": "tab_healtrack_final",
        "type": "tab",
        "label": "HealTrack Final",
        "disabled": false,
        "info": ""
    },
    {
        "id": "grp_env_final",
        "type": "ui_group",
        "z": "tab_healtrack_final",
        "name": "🏥 Environment",
        "tab": "ui_tab_healtrack_final",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "grp_meds_final",
        "type": "ui_group",
        "z": "tab_healtrack_final",
        "name": "💊 Medication Status",
        "tab": "ui_tab_healtrack_final",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "mqtt_temp_final",
        "type": "mqtt in",
        "z": "tab_healtrack_final",
        "name": "",
        "topic": "HealTrack/temp",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_emqx",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "gauge_temp_final"
            ]
        ]
    },
    {
        "id": "gauge_temp_final",
        "type": "ui_gauge",
        "z": "tab_healtrack_final",
        "name": "",
        "group": "grp_env_final",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00ff99",
            "#ffdd00",
            "#ff3333"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 410,
        "y": 100,
        "wires": []
    },
    {
        "id": "mqtt_hum_final",
        "type": "mqtt in",
        "z": "tab_healtrack_final",
        "name": "",
        "topic": "HealTrack/humidity",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_emqx",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "gauge_hum_final"
            ]
        ]
    },
    {
        "id": "gauge_hum_final",
        "type": "ui_gauge",
        "z": "tab_healtrack_final",
        "name": "",
        "group": "grp_env_final",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00aaff",
            "#0088cc",
            "#006699"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 400,
        "y": 160,
        "wires": []
    },
    {
        "id": "mqtt_weight_final",
        "type": "mqtt in",
        "z": "tab_healtrack_final",
        "name": "",
        "topic": "HealTrack/weight",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_emqx",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 260,
        "wires": [
            [
                "gauge_weight_final"
            ]
        ]
    },
    {
        "id": "gauge_weight_final",
        "type": "ui_gauge",
        "z": "tab_healtrack_final",
        "name": "",
        "group": "grp_meds_final",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Pill Weight",
        "label": "g",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00ff99",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 410,
        "y": 260,
        "wires": []
    },
    {
        "id": "mqtt_status_final",
        "type": "mqtt in",
        "z": "tab_healtrack_final",
        "name": "",
        "topic": "HealTrack/med_status",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_emqx",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 340,
        "wires": [
            [
                "func_style_final"
            ]
        ]
    },
    {
        "id": "func_style_final",
        "type": "function",
        "z": "tab_healtrack_final",
        "name": "Format Status",
        "func": "let color = \"#FFC107\";\nlet icon = \"fa-question\";\nif(msg.payload == \"TAKEN\") { color = \"#00ff99\"; icon=\"fa-check\"; }\nif(msg.payload == \"MISSED\") { color = \"#ff3333\"; icon=\"fa-times\"; }\n\nmsg.payload = `<div style='text-align:center; color:${color}'>\n<i class='fa ${icon}' style='font-size:30px'></i><br>\n<b>${msg.payload}</b></div>`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 340,
        "wires": [
            [
                "text_status_final"
            ]
        ]
    },
    {
        "id": "text_status_final",
        "type": "ui_text",
        "z": "tab_healtrack_final",
        "name": "",
        "group": "grp_meds_final",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Today's Dose:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 560,
        "y": 340,
        "wires": []
    },
    {
        "id": "mqtt_sys_final",
        "type": "mqtt in",
        "z": "tab_healtrack_final",
        "name": "",
        "topic": "HealTrack/status",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_emqx",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 420,
        "wires": [
            [
                "toast_alert_final"
            ]
        ]
    },
    {
        "id": "toast_alert_final",
        "type": "ui_toast",
        "z": "tab_healtrack_final",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendOnBlur": true,
        "outputs": 0,
        "topic": "ALERT",
        "name": "",
        "x": 390,
        "y": 420,
        "wires": []
    },
    {
        "id": "ui_tab_healtrack_final",
        "type": "ui_tab",
        "name": "HealTrack V3",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "broker_emqx",
        "type": "mqtt-broker",
        "name": "EMQX Public",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
